/* css for all */
*{
    margin: 0 0;
    padding: 0 0;
    font-family: Arial, Helvetica, sans-serif;

}

.container{
    /*border: 1px solid red;*/
    width : 80%;
    margin: 0 auto;
    padding: 1%;
}
h5{
    font-size: 1.5rem;
}
    
.img-responsive{
    width:100%;
}
.img-curve{
    border-radius: 10px;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}

.clearfix{
    clear: both;
    float: none; 
}
a{
    color:#ff4757;
    text-decoration: none;
}
a:hover{
    color:white;
}
.btn{
    padding: 5%;
    border:none;
    font-size: 1rem;
    border-radius: 10px;
}
.btn-primary{
    background-color: #ff6348;
    color: white;
    cursor: pointer;
}
.btn-primary:hover{
    color:black;
    background-color: #ff7f50;
}


/* css for nav bar */
.navbar{
    background-color:#70a1ff;
    padding: % 0;
}

.logo{
    /*border: 1px solid black;*/
    width : 20%;
    float: left;
}
.logo-img{
    border-radius: 10px;
}
.options{
    line-height: 60px;
}
.options ul{
    list-style-type: none;

}
.options ul li{
    display: inline;
    padding: 1%;
    font-weight: bold;
}
.float-container{
    position: relative;
}
.float-text{
    position: absolute;
    left: 15.5%;
    bottom: 30%;
}


/* css for About */
.mobile-img{
    width: 50%;
    float: right;
}
.about-desc{
    float : left;
    margin-left: 10%;
    width: 30%;
    position: absolute;
    left: 12.5%;
    bottom: 20%;
}


/* css for features */
.features{
    padding: 4% 0;
    background-color:#dfe4ea;
}
.box-8{
    display: inline-block;
    /*border: 1px solid black;*/
    height: 50px;
    width : 45%;
    float: left;
    left: 50px;
    margin: 1%;
    padding: 1% 1%;
}
.features-text{
    color:#5f27cd;
}

.img{
    width:10%;
    border-radius: 40%;
}

/* css for sign up */
.sign-up{
    background-image: url(../images/education-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10% 0;
}
.sign-up .container form input[type="submit"]{
    width: 150%;
    padding: 15%;
    border: none;

}
.text-design{
    color: white;
    font-size: 1.5rem;
}
/* css for details */
.details{
    text-align: center;
    padding: 4% 0;
}
form{
    padding: 1% 0;
    display: inline-block;
}
.fields input[type="text"]{
    width:70%;
    padding: 5% 10%;
    font-size: 1rem;
}

/* css for social */
.social{
    background-color: #747d8c;
}
.social ul{
    list-style-type: none;
    
}
.social ul li{
    display: inline;
    padding: 1%;
}

/* css for social */
.footer{
    background-color: #747d8c;
}


/* css for mobile size or smaller screen */
@media only screen and (max-width:768px){
    h5{
        font-size: 1rem;
    }
    .float-container{
        position: relative;
    }
    .float-text{
        position: absolute;
        left: 50%;
        bottom: 10%;
    }

    .logo{
        width: 80%;
        float: none;
        margin: 1% auto;
    }
    .options ul{
        text-align: center;

    }

    .mobile-img{
        width: 100%;
        float:none;
    }
    .about-desc{
        float : none;
        width: 100%;
        position: relative;
        left: 1%;
        margin: 1% auto;
    }

    .box-8{
        margin: 5% 10%;
    }
    .img{
        width:40%;
        border-radius: 40%;

}
